<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="testng.xml">
    <classes>
      <class name="clickCheckoutButton.SortByPrice_LowtoHigh"/>
      <class name="clickCheckoutButton.CheckLogoutSuccessful"/>
      <class name="clickCheckoutButton.LogCheckoutSummary"/>
      <class name="clickCheckoutButton.CheckSuccessfulLogin"/>
      <class name="clickCheckoutButton.SortByPrice_HightoLow"/>
      <class name="clickCheckoutButton.Purchase2Items"/>
      <class name="clickCheckoutButton.ValidateLockedOutUser"/>
    </classes>
  </test> <!-- testng.xml -->
</suite> <!-- Suite -->
